

.navbar{
    background-color: #AA998F;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.navbar li {
    padding: 8px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-brand{
    margin-left: 32px;
}

.navbar .logout{
    margin-left: auto;
    
}

.card{
    background-color: #AA998F;
    border-radius: 32px;
    padding: 32px;
    width: 80%;
    height: auto;
}